.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    pointer-events:none;
    @include hideAnimation(1s, 3s);
    .logo-holder {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        svg#logo-svg {
            max-width: 100%;
            position: relative;
            overflow: visible;
            .svg-mark {
                .inside {
                    stroke-dasharray: 178.28359985351562;
                    stroke-dashoffset: 178.28359985351562;
                    @include lineAnimationPause(1.75s, 0s);
                }
                .outside {
                    stroke-dasharray: 288.86602783203125;
                    stroke-dashoffset: 288.86602783203125;
                    // opacity: 0;
                    // @include fadeInAnimation(0.5s, 1.25s);
                    @include lineAnimation(1s, 1.25s);
                }
            }
            .svg-logo {
                opacity: 0;
                @include fadeInAnimation(1s, 1.5s);
            }
        }
    }
    @include breakpoint(special){
        .logo-holder {
            width:90%;
        }
    }
}

.main-content {
    .section {
        margin-bottom: 35px;

        h2 {
            font-size: 1.15em;
            margin-bottom: 18px;
            text-align: center;
        }
        @include breakpoint(special){
            h2 {
                border-bottom: solid 1px #000;
                width: 80%;
                margin: 0 auto 18px;
            }
        }

        h3 {
            font-size: 1.15em;
            margin-bottom: 8px;

            span {
                font-size: 0.825em;
                float: right;
            }
        }

        @include breakpoint(special){
            h3 {
                line-height: 1.25em;
                display: block;
                span {
                    float: none;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }

        h4 {
            margin-left: 10px;
            font-size: 1em;
            line-height: 1em;
            margin-bottom: 8px;
            @include normitalic;
        }

        h5 {
            width: 20%;
            float: left;

            + p {
                float:right;
                width: 80%;
            }
        }
        @include breakpoint(special){
            h5 {
                width: auto;
                float: none;
                text-align: center;
                margin-bottom: 5px;

                + p {
                    float:none;
                    width: auto;
                    margin-bottom: 5px;
                }
            }
        }

        ul {
            margin-left: 30px;
            li {
                font-size: 1em;
                line-height: 1.25em;
            }
        }

        p {
            line-height: 1.25em;
            span {
                float: right;
            }
        }
        @include breakpoint(special){
            p {
                text-align: center;
                font-size: 0.825em;
                margin-bottom: 5px;
                span {
                    float: none;
                    &:before {
                        content: "\2022";
                        padding: 3px;
                    }
                }
            }
        }

        a {
        	color: $bg;
        	@include ease;
        	&:hover {
        		color: $red;
        		@include ease;
        	}
            &.red {
                color: $red;
                &:hover {
                    color: darken($red, 20);
                }
            }
        }

        .tagline {
            text-align: center;
            span {
                @include normitalic;
                display: inline-block;
                line-height: 1.25em;
                &:after {
                    content: "\2022";
                    padding: 0 8px;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .job {
            margin-bottom: 18px;
        }

        .sub-section {
            @extend .clr;
            margin-bottom: 10px;
        }
        .reference {
            margin-bottom: 25px;
        }
    }
}
