@import "reset";
@import "breakpoints";
@import "bits";
@import "animations";
@import "fontstyles";
@import "header";
@import "footer";
@import "index";
@import "interior/manifest";

// set normal container width here

.container{
	max-width: 860px;
	margin: 0 auto;
	width: 95%;
}

.clr:before,
.clr:after {
  content:"";
  display:table;
}
.clr:after {
  clear:both;
}
.clr {
  zoom:1;
}

// resets any default form elements
input, select, textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	border-radius: 0;
	outline-offset: -1px;
	padding: 0;
	margin: 0;
	@include ease;

	&:focus{
		// outline: 1px solid ;–
		@include ease;
	}
}

// @include selection($bgColor, $color);

a{
	text-decoration: none;
	color: inherit;
	@include ease;

	&:hover{
		@include ease;
	}
}

///// global tag styling

h1{ // include note for tag placement

}

h2{ // include note for tag placement

}

h3{ // include note for tag placement

}

h4{ // include note for tag placement

}

h5{ // include note for tag placement

}

h6{ // include note for tag placement

}

p{

}

h1, h2, h3, h4, h5, h6, p, li, div{
	@include norm;
}


h1, h2, h3, h4, h5, h6, p{
	&:last-child{
		margin-bottom: 0;
	}
}

.wysiwyg ul{

}

a.button{ // consistent button styling
	// @include button($color, $bgColor, $bd, $bdrz);
}
